// Container
.main-container{
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr 6fr;
}


// Content Container
.content-container{
  display: grid;
  grid-template-columns: 1fr 6fr;

}